{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "trailingComma": "es5",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react$",
        "^next$",
        "^next/.*$",
        "<BUILTIN_MODULES>",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@slabs/(.*)$",
        "",
        "^@(.*)$",
        "",
        "^[./]",
        "",
        "^../(?!.*.css$).*$",
        "^./(?!.*.css$).*$",
        "\\.css$",
        ".*styles.css$"
    ]
}
